/* src/Styles/PaginaLeccion.css */
.pagina-leccion {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.leccion-titulo {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.leccion-resumen {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
  text-align: justify;
}

.video-container {
  width: 100%;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
